<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.PassengerMapper">
  <resultMap id="BaseResultMap" type="Passenger">
   
    <id column="passengerId" jdbcType="INTEGER" property="passengerid" />
    <result column="passengerName" jdbcType="VARCHAR" property="passengername" />
    <result column="dob" jdbcType="DATE" property="dob" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="loginAttempts" jdbcType="INTEGER" property="loginattempts" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="activated" jdbcType="BIT" property="activated" />
    <result column="lastLogin" jdbcType="TIMESTAMP" property="lastlogin" />
    <result column="subscribed" jdbcType="BIT" property="subscribed" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="passengerPassword" jdbcType="VARCHAR" property="passengerpassword" />
  </resultMap>
  <sql id="Base_Column_List">
   
    passengerId, passengerName, dob, email, loginAttempts, locked, activated, lastLogin, 
    subscribed, phoneNumber, address, passengerPassword
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   
    select 
    <include refid="Base_Column_List" />
    from passenger
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   
    delete from passenger
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Passenger">
   
    insert into passenger (passengerId, passengerName, dob, 
      email, loginAttempts, locked, 
      activated, lastLogin, subscribed, 
      phoneNumber, address, passengerPassword
      )
    values (#{passengerid,jdbcType=INTEGER}, #{passengername,jdbcType=VARCHAR}, #{dob,jdbcType=DATE}, 
      #{email,jdbcType=VARCHAR}, #{loginattempts,jdbcType=INTEGER}, #{locked,jdbcType=BIT}, 
      #{activated,jdbcType=BIT}, #{lastlogin,jdbcType=TIMESTAMP}, #{subscribed,jdbcType=BIT}, 
      #{phonenumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{passengerpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="Passenger">
   
    insert into passenger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="passengerid != null">
        passengerId,
      </if>
      <if test="passengername != null">
        passengerName,
      </if>
      <if test="dob != null">
        dob,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="loginattempts != null">
        loginAttempts,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="activated != null">
        activated,
      </if>
      <if test="lastlogin != null">
        lastLogin,
      </if>
      <if test="subscribed != null">
        subscribed,
      </if>
      <if test="phonenumber != null">
        phoneNumber,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="passengerpassword != null">
        passengerPassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="passengerid != null">
        #{passengerid,jdbcType=INTEGER},
      </if>
      <if test="passengername != null">
        #{passengername,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        #{dob,jdbcType=DATE},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginattempts != null">
        #{loginattempts,jdbcType=INTEGER},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="activated != null">
        #{activated,jdbcType=BIT},
      </if>
      <if test="lastlogin != null">
        #{lastlogin,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribed != null">
        #{subscribed,jdbcType=BIT},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="passengerpassword != null">
        #{passengerpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Passenger">
   
    update passenger
    <set>
      <if test="passengername != null">
        passengerName = #{passengername,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        dob = #{dob,jdbcType=DATE},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginattempts != null">
        loginAttempts = #{loginattempts,jdbcType=INTEGER},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="lastlogin != null">
        lastLogin = #{lastlogin,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribed != null">
        subscribed = #{subscribed,jdbcType=BIT},
      </if>
      <if test="phonenumber != null">
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="passengerpassword != null">
        passengerPassword = #{passengerpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Passenger">
   
    update passenger
    set passengerName = #{passengername,jdbcType=VARCHAR},
      dob = #{dob,jdbcType=DATE},
      email = #{email,jdbcType=VARCHAR},
      loginAttempts = #{loginattempts,jdbcType=INTEGER},
      locked = #{locked,jdbcType=BIT},
      activated = #{activated,jdbcType=BIT},
      lastLogin = #{lastlogin,jdbcType=TIMESTAMP},
      subscribed = #{subscribed,jdbcType=BIT},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      passengerPassword = #{passengerpassword,jdbcType=VARCHAR}
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </update>
     <select id="selectPassengerList" parameterType="Passenger" 
                                           resultType="Passenger">
                                            
		SELECT * FROM passenger 
		
		
		<!-- 执行分页查询 -->
		</select>
</mapper>